.idea/
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.scannerwork/
mutation.html
stryker.log


# Authentication file
# -------------------------
playwright/.auth
tests/auth/.authFile

# -------------------------
# Env file with sensitive data
# -------------------------
.env

# -------------------------
# MacOS system files
# -------------------------
.DS_Store

.cmd