apiVersion: batch/v1
kind: Job
metadata:
  name: pst-playwright-tests
  # namespace: toolshop
spec:
  backoffLimit: 0              # do not retry on failure
  ttlSecondsAfterFinished: 900  # auto-cleanup after 15 mins (optional)
  template:
    metadata:
      labels:
        app: pst-playwright-tests
    spec:
      restartPolicy: Never
      containers:
        - name: playwright
          image: europe-west1-docker.pkg.dev/project-2e1e6c1d-528d-4a3a-803/toolshop/playwright-k8s:1767826159
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "700m"
              memory: "700Mi"
          imagePullPolicy: IfNotPresent
          env:
            # Point tests to the in-cluster Service for your web app
            - name: BASE_URL
              value: "http://pst-web:80"
            - name: MYSQL_HOST
              value: pst-db
            - name: MYSQL_PORT
              value: "3306"
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: pst-db-secret # secret name (creates as a step in actions workflow)
                  key: MYSQL_USER
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: pst-db-secret # secret name (creates as a step in actions workflow)
                  key: MYSQL_PASSWORD
            - name: MYSQL_DATABASE
              valueFrom:
                secretKeyRef:
                  name: pst-db-secret # secret name (creates as a step in actions workflow)
                  key: MYSQL_DATABASE
            - name: SLACK_WEBHOOK_URL
              valueFrom:
                secretKeyRef:
                  name: pst-test-secret # secret name (creates as a step in actions workflow)
                  key: SLACK_WEBHOOK_URL
            - name: EMAIL
              valueFrom:
                secretKeyRef:
                  name: pst-test-secret # secret name (creates as a step in actions workflow)
                  key: EMAIL
            - name: PASSWORD_
              valueFrom:
                secretKeyRef:
                  name: pst-test-secret # secret name (creates as a step in actions workflow)
                  key: PASSWORD_
            - name: TEST_NAME
              value: "PlaywrightTests"
            # If your tests need other env vars (user, password, etc.), add them here
            # - name: TEST_USER_EMAIL
            #   valueFrom:
            #     secretKeyRef:
            #       name: pst-test-secrets
            #       key: TEST_USER_EMAIL
          # If your Docker image has the test command as ENTRYPOINT/CMD,
          # you can omit 'command'. If not, uncomment:
          # command: ["npx", "playwright", "test"]
          # Or, for a specific project:
          # command: ["npx", "playwright", "test", "--project=chromium"]

          # Optional: a place to store HTML reports / artifacts inside the pod.
          # You can later 'kubectl cp' them if you want.
          volumeMounts:
            - name: pw-artifacts
              mountPath: /artifacts
      volumes:
        - name: pw-artifacts
          emptyDir: {}